*.class

#package file

*.war
*.ear

#kidff3 file
*.orig

#maven file
terget/

#eclipse file
.settings/
.project/
.classpatch/

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system file
.DS_Store
Thumbs.db
